{% extends 'admin/dashboard_admin.html' %}

{% block title_pag %}
    <div class="div_title">
        <div class="bienvenida">
            Listado de usuarios registrados en el sistema
        </div>
    </div>
{% endblock %}

{% block contenido %}

    <table class="table_info">
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>E-mail</th>
            <th>Username</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>

    {% for usuario in lista_usuarios %}
        <tr>
            <td>{{ usuario.dni }}</td>            
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellidos }}</td>
            <td>{{ usuario.telefono }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.rol }}</td>
            <td>
                <div>
                    <a href="{{ url_for('admin_editar_usuario', user=usuario.dni) }}" class="btn-editar">Editar</a>
                </div>
                <div>
                    <form action="{{ url_for('eliminar_usuario', user=usuario.dni) }}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                        <button type="submit" class="btn-submit">Borrar</button>
                    </form>
                </div>
            </td>
        </tr>

    {% endfor %}

    </table>

{% endblock %}