<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de control - Administrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/styles_base.css">
</head>

<body>
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a href="{{url_for('dashboard_admin')}}"><i class="fas fa-home"></i><span class="text">Inicio</span></a></li>
            <li><a href=""><i class="fas fa-cog"></i><span class="text">Modificar Usuario</span></a></li>
            <li><a href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i><span class="text">Salir</span></a></li>
        </ul>
    </div>

    <div class="div_cuerpo">
        
        {% block title_pag %}
            <div class="div_title">
                <div class="bienvenida">
                    Panel de control
                </div>
            </div>
        {% endblock %}


        {% block contenido %}
            <div class="tarjeta_usuario">
                <div class="bienvenida">
                    <p>Bienvenido, Administrador</p>
                    <p>Hoy es {{ fecha }}</p>
                </div>
            </div>
        {% endblock %}
    </div>

</body>

</html>