{% extends 'empleado/dashboard_empleado.html' %}

{% block titulo %}Crear Cuentas {% endblock %}

{% block main %}
<h1>Crear Cuenta Nueva </h1>
<div>
    
    <div>
        <form>
            <table class="table_info">
            <thead>
                <tr>
                    <th colspan="2"> Cuenta Nueva </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><label for="id">Cuenta ID:</label></td>
                        <td><input type="text" id = "id" name="id" required placeholder="ID de la cuenta"></td>
                    </tr>
                    <tr>
                        <td><label for="dni_titular">DNI del Titular:</label></td>
                        <td><input pattern="[0-9]{8}[A-Za-z]{1}" id="dni_titular" name="dni_titular" placeholder="DNI tipo 12345678A" required></td>
                    </tr>
                    <tr>
                        <td><label for="telefono_cuenta">Teléfono:</label></td>
                        <td><input type="tel" name="telefono_cuenta" id="telefono_cuenta" required placeholder="Teléfono 600123456"></td>
                    </tr>
                    <tr>
                        <td><label for="saldo">Saldo Inicial:</label></td>
                        <td><input type="number" id="saldo" name="saldo" required placeholder="Número con dos decimales"></td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><button type="submit">Enviar</button>
                    <button type="reset" >Borrar</button></td>
                </tr>
            </tfoot>
           
        </table>
        </form>
        
       
    </div>
</div>

{% endblock %}