
{% extends 'empleado/dashboard_empleado.html' %}

{% block titulo %}Cuentas {% endblock %}
{% block header %} 
<div>
    <h1>Empleado: {{nombre}} {{apellidos}}</h1>
    <h2>Cliente: {{cliente_found['nombre']}} {{cliente_found['apellidos']}} </h2>
    <h3>Cuenta: </h3>
  </div>
{% endblock %}
{% block main %}
<h1>Cuentas del Cliente con DNI {{cuentas[0]['dni_titular']}} </h1>
<div>
    
    <div>
        <table class="table_info">
            <thead>
                <tr>
                    <th> Cuenta Nº </th>
                    <th>ID Cuenta</th>
                    <th>Saldo</th>
                    <th>Gestión</th>
                </tr>
            </thead>
            <tbody>
                {% for cuenta in cuentas %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ cuenta['id_cuenta']}}</td>
                        <td>{{ cuenta['saldo'] }}</td>
                        <td>
                            <div>
                                <a href="{{ url_for('editar_cuenta', id_cuenta=cuenta['id_cuenta']) }}" class="btn-editar">Editar</a>
                            </div>
                            <div>
                                <form action="{{ url_for('eliminar_cuenta', id_cuenta=cuenta['id_cuenta']) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta cuenta?');">
                                    <button type="submit" class="btn-submit">Eliminar</button>
                                </form>
                            </div> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Total de Saldo de Todas las Cuentas:</td>
                    <td colspan="2">{{total_saldo}}</td>
                </tr>
                <tr>
                    <td colspan="4" ><a href="{{url_for('crear_cuenta', dni=cliente_found['dni'])}}" class="btn-editar">Crear Cuenta</a></td>
                </tr>
            </tfoot>
           
        </table>
       
    </div>
</div>

{% endblock %}