
{% extends 'empleado/dashboard_empleado.html' %}

{% block titulo %}Cuentas {% endblock %}

{% block main %}
<h1>Cuentas del Cliente con DNI {{cuentas[0]['dni_titular']}} </h1>
<div>
    
    <div>
        <table class="table_info">
            <thead>
                <tr>
                    <th> Cuenta Nº </th>
                    <th>ID Cuenta</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                {% for cuenta in cuentas %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ cuenta['id_cuenta']}}</td>
                        <td>{{ cuenta['saldo'] }}</td>
                        <td>
                            <div>
                                <a href="{{ url_for('editar_cuenta', id_cuenta=cuenta['id_cuenta']) }}" class="btn-editar">Editar</a>
                            </div>
                            <div>
                                <form action="{{ url_for('eliminar_cuenta', id_cuenta=cuenta['id_cuenta']) }}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta cuenta?');">
                                    <button type="submit" class="btn-submit">Eliminar</button>
                                </form>
                            </div> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="{{url_for('crear_cuenta', cliente=cliente_found['dni'])}}">Crear Cuenta</a></td>
                </tr>
            </tfoot>
           
        </table>
       
    </div>
</div>

{% endblock %}