
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %}Inicio {% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="../../static/css/styles_base.css">
</head>
<body>
  <div class="sidebar" id="sidebar">
    <ul>
      <li><a href="{{url_for('dashboard_empleado')}}"><i class="fas fa-home"></i><span class="text">Inicio</span></a></li>
      <li><a href="perfil.html"><i class="fas fa-user"></i><span class="text">Perfil</span></a></li>
      <li><a href="tickets.html"><i class="fas fa-ticket-alt"></i><span class="text">Tickets</span></a></li>
      <li><a href="graficas.html"><i class="fas fa-chart-line"></i><span class="text">Gráficas</span></a></li>
      <li><a href="configuracion.html"><i class="fas fa-cog"></i><span class="text">Configuración</span></a></li>
      <li><a href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i><span class="text">Salir</span></a></li>
    </ul>
  </div>
    
    <div class="div_cuerpo">
    <div class="tarjeta_usuario">
      <div class="img_tarjeta">
        
      </div>
      {% block header %}
      <div>
        <h1>Empleado: {{user.nombre}} {{user.apellidos}}</h1>
        <h2>Cliente:  </h2>
        <h3>Cuenta: </h3>
      </div>
      {% endblock %}
    </div>
    {% block main %}
    <div>
      <div>
          <table class="table_info">
            <thead>
              <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th>Username</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
                <tr>
                  <td>{{ cliente['dni'] }}</td>
                  <td>{{ cliente['nombre'] }}</td>
                  <td>{{ cliente['apellidos'] }}</td>
                  <td>{{ cliente['telefono'] }}</td>
                  <td>{{ cliente['email'] }}</td>
                  <td>{{ cliente['username'] }}</td>
                  <td>
                    <button><a href="{{url_for('mostrar_cuentas',cliente=cliente['dni'])}}" class="btn-editar">Cuentas</a>  </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
        
      <div>
    {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>