
{% extends 'empleado/dashboard_empleado.html' %}

{% block titulo %} Editar {% endblock %}
{% block header %} 
<h1>Empleado: {{user.nombre}} {{user.apellidos}}</h1>
<h2>Cliente: {{cliente_found['nombre']}} {{cliente_found['apellidos']}} </h2>
<h3>Cuenta: ID {{id_cuenta}}</h3>
{% endblock %}

{% block contenido %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block main %}
<h1>Cuenta Nº {{ id_cuenta }} </h1>
<div>
    
    <div>
        

        
        <table class="table_info">
            <form method="POST">
            <tbody>
                <tr>
                    <td> <label for="dni_nuevo">DNI:</label> </td>
                    <td><input pattern="[0-9]{8}[a-zA-Z]{1}" id="dni_nuevo" name="dni_nuevo" required placeholder="DNI tipo 12345678Z"></td>
                    
                </tr>
                <tr>
                    <td><label for="telefono_nuevo">Teléfono:</label></td>
                    <td><input type="tel" id="telefono_nuevo" name="telefono_nuevo" required placeholder="Teléfono	600123456"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><button type="submit" class="btn-editar">Enviar</button>
                        <button type="reset" class="btn-submit">Borrar</button>
                    </td>
                </tr>
            </tfoot>
        </form>   
        </table>
       
    </div>
</div>

{% endblock %}