<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Inicio{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_base.css') }}">
</head>
<body>
  <div class="sidebar" id="sidebar">
    <ul>
      <li><a href=""><i class="fas fa-home"></i><span class="text">Inicio</span></a></li>
      <li><a href=""><i class="fas fa-user"></i><span class="text">Perfil</span></a></li>
      <li><a href=""><i class="fas fa-chart-line"></i><span class="text">Gráficas</span></a></li>
      <li><a href=""><i class="fas fa-sign-out-alt"></i><span class="text">Salir</span></a></li>
    </ul>
  </div>

  <div class="content">
    {% block content %}
    <!-- Contenido específico de cada página va aquí -->
    {% endblock %}
  </div>

    <main>
        {% block main %}
            contenido principal
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <p>Footer</p>
        {% endblock %}
    </footer>
</body>
</html>