<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles_register.css">
    <title>Register</title>
</head>
<body>

    <div class="form-container">
    <input checked="" type="checkbox" id="switch" />
    <div class="sign-up-container">
        <span class="form-title">Sign Up</span>
        <label for="switch" class="switch-label">Already have an account?</label>
        <form class="sign-up-form">
        <label for="username-signup">Username</label>
        <input
            class="input"
            placeholder="Francisco"
            id="username-sign-up"
            name="username"
            type="text"
        />
        <label for="dni-signup">DNI</label>
        <input
            class="input"
            placeholder="XXXXXXXXA"
            id="dni-inicio"
            name="dni"
            type="text"
        />
        <label for="phone-signup">Phone Number</label>
        <input
            class="input"
            placeholder="937014628"
            id="phone-sign-up"
            name="phone"
            type="number"
        />
        <label for="email-signup">Email</label>
        <input
            class="input"
            placeholder="ouremail@example.com"
            id="email-signup"
            name="Email"
            type="email"
        />
        <label for="password-signup">Password</label>
        <input
            class="input"
            placeholder="••••••••"
            id="password-signup"
            name="Password"
            type="password"
        />
        <label for="confirm-pwd-sign-up">Confirm Password</label>
        <input
            class="input"
            placeholder="••••••••"
            id="confirm-pwd-sign-up"
            name="Conf_password"
            type="password"
        />
        <button type="submit" value="sign-up">Sign Up</button>
        </form>
    </div>
    <div class="log-in-container">
        <span class="form-title">Login</span>
        <label for="switch" class="switch-label">Don't have an account?</label>
        <form class="log-in-form">
        <label for="username-login">Username</label>
        <input
            class="input"
            placeholder="Francisco"
            id="username-log-in"
            name="username"
            type="text"
        />
        <label for="password-login">Password</label>
        <input
            class="input"
            placeholder="••••••••"
            id="password-login"
            name="password"
            type="password"
        />
        
        <button type="submit" value="log-in">Login</button>
        </form>
    </div>
    </div>
</body>
</html>