<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles_register.css">
    <title>Register</title>
</head>
<body>
    
    <div class="form-container">
    <input checked="" type="checkbox" id="switch" />
    <div class="sign-up-container">
        <span class="form-title">Sign Up</span>
        <label for="switch" class="switch-label">Already have an account?</label>
        <form class="sign-up-form" method="post">
        <label for="nombre">Nombre</label>
        <input
            class="input"
            placeholder="Francisco"
            id="nombre"
            name="nombre"
            type="text"
        />
        <label for="apellidos">Last name</label>
        <input
            class="input"
            placeholder="Garcia"
            id="apellidos"
            name="apellidos"
            type="text"
        />
        <label for="dni">DNI</label>
        <input
            class="input"
            placeholder="XXXXXXXXA"
            id="dni"
            name="dni"
            type="text"
        />
        <label for="telefono">Phone Number</label>
        <input
            class="input"
            placeholder="937014628"
            id="telefono"
            name="telefono"
            type="number"
        />
        <label for="email">Email</label>
        <input
            class="input"
            placeholder="ouremail@example.com"
            id="email"
            name="email"
            type="email"
        />
        <label for="username">Username</label>
        <input
            class="input"
            placeholder="pepito"
            id="username"
            name="username"
            type="text"
        />
        <label for="password">Password</label>
        <input
            class="input"
            placeholder="••••••••"
            id="password"
            name="password"
            type="password"
        />
        <button type="submit" name="action" value="registro">Sign Up</button>
        </form>
    </div>
    <div class="log-in-container">
        <span class="form-title">Login</span>
        <label for="switch" class="switch-label">Don't have an account?</label>
        <form class="log-in-form" name="formulario" method="post">
        <label for="username">Username</label>
        <input
            class="input"
            placeholder="Francisco"
            id="username-log-in"
            name="username"
            type="text"
        />
        <label for="password">Password</label>
        <input
            class="input"
            placeholder="••••••••"
            id="password-login"
            name="password"
            type="password"
        />
        
        <button type="submit" name="action" value="log-in">Login</button>
        </form>
    </div>
    </div>
</body>
</html>